<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PEDRAD Bone Age</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"
    ></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>

  <body>
    <div id="wrap">
      {#
      <header></header>
      #}
      <div id="container">
        <nav>
          <table id="menuTable" class="display">
            <thead>
              <tr>
                {% for dcol in dcols %}
                <th>{{ dcol }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tfoot>
              <tr>
                {% for dcol in dcols %}
                <th>{{ dcol }}</th>
                {% endfor %}
              </tr>
            </tfoot>
            <tbody>
              {% for row in data %}
              <tr>
                {% for k, v in row.items() %}
                <td>{{ v }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </nav>
        <div class="main-container">
          <section id="content-section" class="content">
            <div id="query-section" class="content-container">
              <img
                id="query-image"
                class="image-fit-height"
                src=""
                alt="Query Image"
              />
            </div>
            <div id="ref-section" class="content-container">
              {% for x in ref_images['M'] %}
              <img
                src="{{ url_for('static', filename=x) }}"
                alt="F ref image"
                class="image-fit-height ref-image"
                id="ref-image-M-{{ loop.index0 }}"
              />
              {% endfor %} {% for x in ref_images['F'] %}
              <img
                src="{{ url_for('static', filename=x) }}"
                alt="F ref image"
                class="image-fit-height ref-image"
                id="ref-image-F-{{ loop.index0 }}"
              />
              {% endfor %}
            </div>
          </section>
          <aside id="aside-section" class="aside">
            <div id="aside-text" class="aside-header">
              <p id="label-text-to-copy" class="text-line-break"></p>
            </div>
            <div id="aside-chart" class="aside-content">
              <div id="bar-chart"></div>
            </div>
          </aside>
        </div>
      </div>
      <footer></footer>
    </div>

    <script>
      $(document).ready(function () {
        let allLabelTexts = [];
        let chronologicAgeMonths = 0;
        let thisGender = "";
        let thisRefIndex = -1;

        // DataTable
        var table = $("#menuTable").DataTable({
          paging: true,
          info: false,
          dom: "lrtip", // l - length changing input control, f - filtering input, r - processing display element, t - table, i - information summary, p - pagination control
          lengthMenu: [1, 3, 5, 10], // Define options for rows per page
          pageLength: 5,
          autoWidth: false,
          columns: [
            { data: "ID", visible: false }, // ID column (not visible)
            { data: "Action", orderable: false, searchable: false },
            { data: "PatientID" },
            { data: "Gender" },
            { data: "Age" },
            { data: "StudyDateTime" },
            { data: "CreateDateTime" },
            { data: "Status" }, // Orderable and searchable by default
          ],
          createdRow: function (row, data, dataIndex) {
            // Add class and id to tr
            $(row).addClass("query-row");
            $(row).data("id", data.ID);

            // Add buttons to the 'Action' and 'Status' columns
            $("td:eq(0)", row).html(
              `<button class="delete-btn" data-id="${data.ID}">Delete</button>`
            );
            $("td:eq(6)", row).html(
              `<button class="status-btn" data-id="${data.ID}">${data.Status}</button>`
            );
          },
        });

        // Setup - add buttons in Action column, and text input to each footer cell
        $("#menuTable tfoot th").each(function () {
          var title = $(this).text();
          if (title == "Action") {
            $(this).html(
              '<button id="delete-all-btn" class="btn btn-danger">Delete All</button>' +
                '<button id="reload-data-btn" class="btn btn-primary">Reload</button>'
            );
          } else {
            $(this).html(
              '<input type="text" class="input-search" placeholder="Search ' +
                title +
                '" />'
            );
          }

          // Defaults
          if (title == "Status") {
            $("input", this).val("Wait");
          }
        });

        // Apply the search
        table.columns().every(function (index) {
          var column = this;

          // Run initial search based on the values of the input fields
          var input = $("input", column.footer());

          if (input.val()) {
            column.search(input.val()).draw();
          }

          // Apply triggers
          $("input", this.footer()).on("keyup change clear", function () {
            if (column.search() !== this.value) {
              column.search(this.value).draw();
            }
          });
        });

        // Clear all contents when data record is removed
        function clearContents() {
          $("img.selected-ref-image").removeClass("selected-ref-image");
          $("#query-image").attr("src", "");
          $("#label-text-to-copy").text("");
          Plotly.purge("bar-chart");
        }

        // Delete All button click event
        $("#menuTable").on("click", "#delete-all-btn", function (event) {
          if (confirm("Are you sure you want to delete all records?")) {
            // Add your AJAX call to delete the record
            $.ajax({
              url: "{{ url_for('viewer.delete_all_record') }}", // Replace with your delete URL
              method: "POST",
              contentType: "application/json",
              success: function (response) {
                if (response.error) {
                  alert(response.error);
                } else {
                  alert(
                    "Records deleted successfully ... " +
                      response.num_records +
                      " records present."
                  );
                  table.clear().draw();
                  console.log(response.message);
                  clearContents();
                }
              },
              error: function (error) {
                console.log(error);
              },
            });
          }
        });

        // Reload Data button click event
        $("#menuTable").on("click", "#reload-data-btn", function (event) {
          $.ajax({
            url: "{{ url_for('viewer.reload_data') }}", // Replace with your reload URL
            method: "GET",
            contentType: "application/json",
            success: function (response) {
              if (response.error) {
                alert(response.error);
              } else {
                table.clear().rows.add(response.data).draw(false);
                console.log("reloaded");
                clearContents();
              }
            },
            error: function (error) {
              console.log(error);
            },
          });
        });

        // Delete button click event
        $("#menuTable tbody").on("click", ".delete-btn", function (event) {
          event.stopPropagation(); // Prevent the row click event
          var button = $(this);
          var menuId = button.data("id");

          // Add your AJAX call to delete the record
          $.ajax({
            url: "{{ url_for('viewer.delete_record') }}", // Replace with your delete URL
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ query_id: menuId }),
            success: function (response) {
              if (response.error) {
                alert(response.error);
              } else {
                // Remove the row from the table
                table.row(button.closest("tr")).remove().draw(false);

                // Clear all contents
                clearContents();
              }
            },
            error: function (error) {
              console.log(error);
            },
          });
        });

        // Status button click event
        $("#menuTable tbody").on("click", ".status-btn", function (event) {
          event.stopPropagation(); // Prevent the row click event
          var button = $(this);
          var menuId = button.data("id");

          // Add your AJAX call to change status of the record
          $.ajax({
            url: "{{ url_for('viewer.toggle_status') }}", // Replace with your delete URL
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ query_id: menuId }),
            success: function (response) {
              if (response.error) {
                alert(response.error);
              } else {
                // Get cell
                var cellThis = table.cell(button.closest("td"));
                var dataID = cellThis.nodes().to$().find("button").data("id");

                cellThis.data(response.new_status);
                cellThis
                  .nodes()
                  .to$()
                  .html(
                    `<button class="status-btn" data-id="${dataID}">${response.new_status}</button>`
                  );
                cellThis.draw(false);

                clearContents();
              }
            },
            error: function (error) {
              console.log(error);
            },
          });
        });

        // Make table rows clickable and load content via AJAX
        $("#menuTable tbody").on("click", ".query-row", function () {
          var menuId = $(this).data("id");

          // Remove highlight from all rows and highlight the clicked row
          table.$("tr.selected-row").removeClass("selected-row");
          $(this).addClass("selected-row");

          updateContent(menuId);
        });

        // table_row click events
        function updateChart(data) {
          var trace = {
            y: data["xlabels"].map(String),
            x: data["predictions"],
            type: "bar",
            orientation: "h",
          };
          var layout = {
            yaxis: {
              title: "Years",
              type: "category",
              ticks: "outside",
              side: "right",
            },
            xaxis: {
              title: "Prediction",
              autorange: "reversed",
            },
            autosize: true,
            margin: {
              l: 0,
            },
          };
          var config = { responsive: true };
          Plotly.newPlot("bar-chart", [trace], layout, config);
        }

        function updateImage(data) {
          var fileName = data["path_image"];
          var imagePath =
            "{{ url_for('viewer.get_uploaded_filepath', filename='DUMMYFILENAME') }}".replace(
              "DUMMYFILENAME",
              fileName
            );
          $("#query-image").attr("src", imagePath);
        }

        function copyToClipboard(copyVal) {
          try {
            //$('body').attr('onselectstart', '');
            var aux = document.createElement("input");
            aux.setAttribute("value", copyVal);
            document.body.appendChild(aux);
            aux.select();
            aux.setSelectionRange(0, 9999);
            document.execCommand("copy");
            document.body.removeChild(aux);
            // alert("클립보드에 복사되었습니다");
            //$('body').attr('onselectstart', 'return false');
          } catch (err) {
            console.log("클립보드 복사가 지원되지 않는 브라우저입니다.");
          }
        }

        function updateAsideText(data) {
          var bestIndex = data["best_pred"];
          var allPreds = data["predictions"];
          var thisPred = allPreds[bestIndex];
          var textToCopy = allLabelTexts[bestIndex];
          textToCopy +=
            "\nChronological age : " +
            chronologicAgeMonths.toFixed() +
            " Months.";
          var displayText = textToCopy;
          displayText += "\n(" + parseFloat((100 * thisPred).toFixed(2)) + "%)";

          copyToClipboard(textToCopy);
          $("#label-text-to-copy").text(displayText);
        }

        function updateReference(ind) {
          var referenceId = "ref-image-" + thisGender + "-" + ind.toString();

          $("img.selected-ref-image").removeClass("selected-ref-image");
          $("img#" + referenceId).addClass("selected-ref-image");
        }

        function updateContent(menuId) {
          $.ajax({
            url: "{{ url_for('viewer.get_data') }}",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({ query_id: menuId }),
            success: function (response) {
              if (response.error) {
                alert(response.error);
              } else {
                var data = response.data;
                allLabelTexts = data["alllabeltext"];
                chronologicAgeMonths = parseInt(12 * data["Age"]);
                thisGender = data["Gender"];
                thisRefIndex = data["best_pred"];
                updateChart(data);
                updateImage(data);
                updateReference(thisRefIndex);
                updateAsideText(data);
              }
            },
            error: function (error) {
              console.log(error);
            },
          });
        }

        // Event listener for clicking on a bar in the chart
        $("#bar-chart").on("plotly_click", function (_, data) {
          var pointIndex = data.points[0].pointIndex;
          var textToCopy = allLabelTexts[pointIndex];
          textToCopy +=
            "\nChronological age : " +
            chronologicAgeMonths.toFixed() +
            " Months.";
          var pointValue = data.points[0].x;
          var displayText = textToCopy;
          displayText +=
            "\n(" + parseFloat((100 * pointValue).toFixed(2)) + "%)";

          // Copy text to clipboard
          copyToClipboard(textToCopy);
          $("#label-text-to-copy").text(displayText);

          // Display ref image
          updateReference(pointIndex);

          // Update opacity of bars
          var updateOpacity = Array(data.points[0].data.x.length).fill(0.5);
          updateOpacity[pointIndex] = 1;
          var updateStyle = {
            marker: { opacity: updateOpacity },
          };
          Plotly.restyle("bar-chart", updateStyle);
        });
      });
    </script>
  </body>
</html>
